doctype html
html(lang='en')
  head
    script(
        src="https://code.jquery.com/jquery-3.1.1.min.js",
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
        crossorigin="anonymous"
      )
    style.
      div {
        margin-top: 10px;
      }

      input {
        padding: 10px 15px;
        border: 1px solid #d3d3d3;
      }

      button {
        padding: 10px 15px;
        margin-top: 15px;
        margin-right: 15px;
        background: #f3f3f3;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
      }

      button:hover,
      button:focus {
        cursor: pointer;
        background: #e9e9e9;
        outline: none;
      }

      section {
        display: none;
      }

      .is-showing {
        display: block;
      }

  body
    block Body
    block Footer