extends ./_shell

block Body

  div#app

    //- Pick play style
    section.screen(:class="isShowing('play-mode')")
      div.login-content.align-center
        p Are you playing in person (local) or over video chat (remote)?
        button.new-line.float-center(@click="switchScreen('local-play')") Local Play
        button.new-line.float-center.mtl(@click="switchScreen('create-room')") Remote Play

    //- Remote Create
    section.screen(:class="isShowing('create-room')")
      h1.mtn.align-center: img(src="/images/aeons-end.png")
      div.login-content

        label.new-line.align-left
          | Character
          select(@change="handleCharacterChange")
            option(disabled selected value) -- Select --
            option(v-for="item in characters", :value="item.value") {{ item.label }}
        label.new-line.align-left
          span.player-count-label Player Count
          span.player-count-number {{ slots }}
          div.player-count-buttons.mrm
            i.fa.fa-caret-up(@click="increasePlayers")
            i.fa.fa-caret-down(@click="decreasePlayers")
          input(type="number", name="slots", value="3", hidden)
        button.mtl(@click="handleCreateRoom") Create Room

    //- Remote Join via URL
    section.screen(:class="isShowing('join-room')")
      div.login-content.align-center
        label.new-line
          | Select Character
          select(@change="handleCharacterChange")
              option(disabled selected value) -- Select --
              option(v-for="item in characters", :value="item.value") {{ item.label }}
        button.new-line.float-center(@click="joinRoom") Join Room

    //- Remote Play
    section.screen(:class="isShowing('remote-play')")
      div.login-content
        h2 Remote Play

        button.new-line(@click="startGame", :disabled="room.slots !== room.players.length ? true : false") Start Game
        button.new-line(@click="switchScreen('play-mode')") Back

      div.room-stats
        ul.unstyled
          li {{ room.id }}
          li {{ availableSlotsText }}
          li {{ currentCharactersText }}

    //- Local Play
    section.screen.local-play(:class="isShowing('local-play')")
      div.login-content.align-center
        h2 Local Play
        button.new-line.float-center(@click="switchScreen('play-mode')") Back

    toast(:show="toast.show", :type="toast.type", @expire-toast="removeNotification")
      | {{ toast.message }}

block Footer
  script(src="https://unpkg.com/vue@2.2.6")
  script(src="/socket.io/socket.io.js")
  script(src="client-app.js")