/*
  Basic Styles
  Basic styles to get the app to function correctly
*/
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
}

/*
  Custom Styles
  Start styling the app below this line
*/
